{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/9d63a7fb7b.js" crossorigin="anonymous"></script>
    <title>Scribble</title>   
</head>
<body>
 <div class="container">
    <div class="title">
        <p>SIGN UP</p>
    </div>
    <div>
        <style>
            p{
                color: red;
                font-family: 'Poppins';
                font-size: 16px;
            }
        </style>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
    
    <form action="" method="POST" class="form">
        {% csrf_token %}
        <label for="text">Username</label>
        <input class="unm" name="username" type="text" placeholder="Enter Username" required>

        <label for="mail">Email</label>
        <input type="email" name="email" placeholder="Enter Email" required>

        <label for="pwd">Password</label>
        <input type="password" name="password" placeholder="Enter Password" required>

        <label for="pwd">Confirm Password</label>
        <input type="password" name="password2" placeholder="Confirm Password" required>

        <button type="submit">SIGN UP</button>

    </form>
    <div class="signup">
        <a href="/login">Already have an account? Log In</a>
    </div>

 </div>

</body>