{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/9d63a7fb7b.js" crossorigin="anonymous"></script>
    <title>Quiz</title>   
    
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">Quiz</a> 
        </div>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Quizzes</a>
            <a href="#">Profile</a>
        </div>
    </nav>

    {% block content %}

    {% endblock %}




    <footer class="footer">
        <p>&copy; 2024 QuizApp. All rights reserved.</p>
    </footer>
    
    
</body>